### Go ###
# 二进制
*.exe
*.exe~
*.dll
*.so
*.dylib

# 测试用例
*.test

# 覆盖率工具输出
*.out

# 依赖项
vendor/

# 工作空间
go.work

### GoLand ###

# Gradle 和 Maven 的自动导入
*.iml
*.ipr

# CMake
cmake-build-*/

# 基于文件的项目格式
*.iws

# IntelliJ
out/

# mpeltonen/sbt-idea 插件
.idea_modules/

# JIRA 插件
atlassian-ide-plugin.xml

# Crashlytics 插件
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
fabric.properties

# Patch
modules.xml

# 忽略整个 IDEA 工作目录
.idea/

### Linux ###
# 临时文件
*~

# 进程对已删除文件的打开句柄临时文件
.fuse_hidden*

# KDE 目录偏好
.directory

# 回收站
.Trash-*

# .nfs 文件
.nfs*

### macOS ###
# 主要
.DS_Store
.AppleDouble
.LSOverride
Icon

# 缩略图
._*

# 卷根目录残留
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# 远程 AFP 共享残留
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# iCloud 生成
*.icloud

### PowerShell ###
# 打包模块
*.zip

### Windows ###
# 缩略图
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db

# 转储文件
*.stackdump

# 文件夹配置文件
[Dd]esktop.ini

# 文件共享使用的回收站
$RECYCLE.BIN/

# 安装文件
*.cab
*.msi
*.msix
*.msm
*.msp

# 快捷方式
*.lnk

### VisualStudioCode ###
# 本机配置
.vscode/

# 本地历史
.history/
.history
.ionide

# 内置扩展
*.vsix
